@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}

@font-face {
    font-family: Neue Machina;
    src: url("./assets/fonts/NeueMachina-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Neue Machina;
    src: url("./assets/fonts/PPNeueMachina-InktrapUltrabold.otf");
    font-weight: 700;
    font-style: normal;
}

.neue-font {
    font-family: "Neue Machina", sans-serif;
}

.bg-green {
    background-color: #7EE49C80;
}

.bg-dark-blue {
    background-color: #191423;
}

.bg-light-green {
    background-color: #6FFFA8;
}

.bg-purple {
    background-color: #6621E9;
}

.bg-light-pink {
    background-color: #FFABC7;
}

.bg-dark-teal {
    background-color: #026070;
}

.custom-shadow {
    box-shadow: 0px 4px 41px 0px #4281EE70;
}

.text-light-black {
    color: #191423;
}